*{
    padding: 0;
    margin: 0;
}
@mixin border{
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #bbb;
}
@mixin flex-stretch{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face{
    font-family: "monty";
    src: url("../fonts/Montserrat-Regular.ttf") format("woff2");
    font-weight: 400; 
}

body{
    overflow: hidden;
    min-width: 450px;
    max-height: 590px;
    width: 450px;
    height: 590px;
}
.container{
    // background-image: url(../imgs/wave.jpg);
    @include border();
    margin: 10px;
    overflow: hidden;
    position: relative;
    height: 50%;
    font-family: 'monty';
    @include flex-stretch();
    .city{
        @include flex-center();
        flex-direction: column;
        z-index: 2;
        h1{
            font-size: 2.5em;
        }
        margin: -30px 0 0 50px;
        animation: slideInFromLeft 0.5s 0s ease;
    }
    .img{
        @include flex-center();
        z-index: 0;
        transform: translateX(1.5em);
        flex: 0 1 100%;
        img{
            max-width: 100%;
            width: 100%;
        }
        animation: slideInFromRight 0.5s 0s ease;
    }
}
.content{
    overflow: hidden;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .temp, .weather, .wd-spd, .set-rise{
        @include border();
        box-shadow: 1px 1px 1px #ddd;
        margin-top: 8px;
        text-align: center;
        padding: 10px;
        flex: 0 0 41%;
        span{
            font-weight: 400;
        }
        h2{
            margin: 5px auto;
        }
        animation: slideUp 1s 0s ease;
    }
    .temp{
        h1{
            font-weight: 400;
        }
        h1{
            font-size: 3em;
            margin: 5px auto;
        }
        
    }
}

.find-city{
    text-align: center;
    margin-top: 20px;
    h3, button{
        display: inline-block;
    }
    h3{
        font-weight: 400;
    }
    button{
        background-color: #98acf3;
        color: #fff;
        padding: 5px;
        border: 0;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
    }
    animation: slideUp 1.3s 0s ease;
}

.city-form{
    display: none;
    animation: slideUp 0.5s 0s ease;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    form{
        width: 40%;
    }
    input{
        margin: 10px auto;
        border: 1px solid #222;
        outline: 0;
        text-align: center;
        color: #444;
        line-height: 1.3;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
        width: 100%;
        max-width: 100%;
        background-color: #fff;
        border-radius: .5em;
    }
    button{
        padding: 5px 10px;
        display: block;
        margin: 0px auto;
        border-radius: 8px;
        border: 1px solid #98acf3;
        background-color: #98acf3;
        color: #fff;
        cursor: pointer;
    }
}
.display-off{
    display: none;
    pointer-events: none;
}

.display-on{
    display: flex;
}
@keyframes slideInFromLeft{
    0%{
        transform: translateX(-20em);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromRight{
    0%{
        transform: translateX(20em);
    }
    100%{
        transform: translateX(0);
    }
    
}

@keyframes slideUp{
    0%{
        transform: translateY(20em);
    }
    100%{
        transform: translateY(0);
    }
}
